{% extends 'base.html' %} {% from "_render_field.html" import
render_field %} {% block content %}

<h1>Log In</h1>

<form action="/login" method="POST">
  {{ form.csrf_token }}
  <fieldset>
    <legend>Enter your credentials</legend>

    {{ render_field(form.username) }} {{ render_field(form.password)
    }} {{ form.submit(class="btn") }}
  </fieldset>
</form>

<p>Don't have an account?</p>
<p>
  To add new beans and save tasting notes please
  <a class="link-opacity-100-hover" href="/signup"
    >create an account</a
  >.
</p>

{% endblock %}
