{% extends 'base.html' %} {% from "_render_field.html" import
render_field %} {% block content %}

<h1 class="new-header">New Note</h1>

<form action="/new_note" method="POST">
  {{ form.csrf_token }}

  <section>
    <fieldset>
      <legend>Bean, Order, Brew Method, Date & Observations</legend>
      
      {{ render_field(form.bean) }}
      {{ render_field(form.order) }}
      {{ render_field(form.brew_method) }}
      {{ render_field(form.date_recorded) }}
      {{ render_field(form.observations) }}
    </fieldset>
  </section>

  <section>
    <fieldset>
      <legend>Aroma</legend>
      {{ render_field(form.aromas) }}
    </fieldset>
  </section>

  <section>
    <fieldset>
      <legend>Flavor</legend>
      {{ render_field(form.flavors) }}
    </fieldset>
  </section>

  <section>
    <fieldset>
      <legend>Aftertaste</legend>
      {{ render_field(form.aftertastes) }}
    </fieldset>
  </section>

  <section>
    <fieldset>
      <legend>Acidity</legend>
      {{ render_field(form.acidities) }}
    </fieldset>
  </section>

  <section>
    <fieldset>
      <legend>Mouthfeel</legend>
      {{ render_field(form.mouthfeels) }}
    </fieldset>
  </section>

  <section>
    <fieldset>
      {{ form.submit(class="btn") }}
    </fieldset>
  </section>

</form>

{% endblock %}
