{% extends 'base.html' %} {% from "_render_field.html" import
render_field %} {% block content %}

<h1 class="new-header">New Bean</h1>

<form action="/signup" method="POST">
  {{ form.csrf_token }}

  <section>
    <fieldset>
      <legend>Bean Name & Origin</legend>
      {{ render_field(form.name) }}
      {{ render_field(form.origin) }}
    </fieldset>
  </section>

  <section>
    <fieldset>
      <legend>Cultivar, Wash Process & Roast Level</legend>

      {{ render_field(form.cultivar) }}
      {{ render_field(form.wash_process) }}
      {{ render_field(form.roast_level) }}
      
    </fieldset>
  </section>

  <section>
    <fieldset>
      {{ form.submit(class="btn") }}
    </fieldset>
  </section>

</form>

{% endblock %}
