body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafaf9;
}

#base-content {
  font-family: 'Open Sans', sans-serif;
  color: #57534e;
  width: 85%;
  background-color: white;
  padding: 20px;
}

.nav {
  margin-bottom: 1rem;
}

.nav-link {
  color: #57534e;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px;
}

fieldset * {
  margin: 5px;
}

fieldset input {
  padding: 5px;
}

input[type='submit'] {
  width: 150px;
  align-self: flex-end;
  color: #57534e;
}

.btn {
  background-color: #fbbf24;
}

.btn:hover {
  background-color: #f59e0b;
}

.new-header {
  text-align: center;
}

fieldset {
  margin-top: 0;
  margin-bottom: 0;
}

#aromas,
#flavors,
#aftertastes,
#acidities,
#mouthfeels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

@media screen and (max-width: 800px) {
  #aromas,
  #flavors,
  #aftertastes,
  #acidities,
  #mouthfeels {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 615px) {
  #aromas,
  #flavors,
  #aftertastes,
  #acidities,
  #mouthfeels {
    grid-template-columns: repeat(2, 1fr);
  }
}

.bean p:not(:last-child) {
  margin-bottom: 0;
}

.bean_detail_order {
  border-bottom: 1px solid #78716c;
  margin: 1rem 0px;
}

h3 {
  margin: 1rem 0px;
}
