html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafaf9;
  min-height: 100%;
}

#base-content {
  font-family: 'Open Sans', sans-serif;
  color: #57534e;
  width: 95%;
  background-color: white;
  padding: 20px;
  height: 100%;
  flex: 1;
}

.nav {
  margin-bottom: 1rem;
}

.nav-link {
  color: #57534e;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px;
}

fieldset * {
  margin: 5px;
}

fieldset input {
  padding: 5px;
}

input[type='submit'] {
  width: 150px;
  align-self: flex-end;
  color: #57534e;
}

.btn {
  background-color: #fbbf24;
}

#add-a-note {
  width: 150px;
}

#add-a-note a {
  text-decoration: none;
  color: #57534e;
}

.btn:hover {
  background-color: #f59e0b;
}

.delete {
  color: black;
  background-color: #f87171;
}

.delete:hover {
  color: #57534e;
  background-color: #ef4444;
}

.new-header {
  text-align: center;
}

fieldset {
  margin-top: 0;
  margin-bottom: 0;
}

#aromas,
#flavors,
#aftertastes,
#acidities,
#mouthfeels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

@media screen and (max-width: 800px) {
  #aromas,
  #flavors,
  #aftertastes,
  #acidities,
  #mouthfeels {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 615px) {
  #aromas,
  #flavors,
  #aftertastes,
  #acidities,
  #mouthfeels {
    grid-template-columns: repeat(2, 1fr);
  }

  fieldset {
    width: 100%;
    padding: 0px;
  }
}

.bean p:not(:last-child) {
  margin-bottom: 0;
}

.bean_detail_order {
  border-bottom: 0.25rem solid #78716c;
  margin: 1rem 0px;
}

h3 {
  margin: 1rem 0px;
}

footer {
  flex-shrink: 0;
}

#nav-signup,
#nav-login,
#nav-logout {
  margin-right: 2px;
  border-left: 1px solid #fbbf24;
  border-top: 1px solid #fbbf24;
  border-right: 1px solid #fbbf24;
}

input[type='checkbox'] {
  transform: scale(2);
}
